.label {
  margin-bottom: 0;
  
  &__dropdown {
    display: block;
    align-items: center;
  }
  
  &__checkbox {
    display: block;
  }
}

.select {
  line-height: normal;
  padding: 8px 10px;
}

.content {
  display: grid;
}