.main {
  background-color: #fff;
  &:hover {
    cursor: pointer;
  }
}

.content {
  padding: 15px;
}

.image {
  min-height: 200px;
}

.description, .price {
  font-size: 14px;
  line-height: 1.6em;
}