.body {
  display: grid;
  grid-template-columns: 4fr 7fr;
  column-gap: 3rem;
}

.forms {
  display: grid;
  row-gap: 2rem;
}

.buttons {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: start;

  & > *:nth-child(1) {
    justify-self: start;
  }

  & > *:nth-child(2) {
    justify-self: end;
  }
}