.main {
  display: grid;
  grid-template-columns: 240px 3fr 1fr;
  background-color: white;
  padding: 35px 20px;
  column-gap: 1.5rem;

  & > .column:nth-child(2) {
    display: grid;

    & > * > .description {
      font-size: 15px;
      align-self: start;
    }

    & > * > .quantity {
      font-size: 15px;
      align-self: start;
    }

    & > .links {

      align-self: bottom;
      display: grid;
      grid-template-columns: repeat(1, auto);
      justify-content: start;
      column-gap: .6rem;
    
      & > .link {
        font-size: 12px;
        color: black;
        text-decoration: underline;

        &:hover {
          cursor: pointer;
        }
      }
    
    }
  }

  & > .column:nth-child(3) {
    justify-self: end;
  }
}

.image {
  width: 100%;
}