.header {
  padding: 15px 20px;
  background-color: #222;
  color: white;
}

.body {
  padding: 25px 20px;
  background-color: white;
}

.buttons {
  padding-top: 50px;
  display: grid;
}

.orderSummaryLine {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 5px 0px;

  & > span:nth-child(2) {
    justify-self: end;
  }

  &:nth-child(3) {
    padding-bottom: 20px;
  }

  &:nth-child(4) {
    padding-top: 20px;
    border-top: 1px solid gray;
    font-weight: 700;
  }
}